.App {
  text-align: center;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-body {
  height: auto;
  width: auto;
  background-color: #c2e8ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  margin-top: -20px;

}

.title{
  color: rgb(5, 5, 5);
  height: 10vw;
  font-weight: bold;
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -25vh;

}

.container {
    display: flex;
    margin-bottom: 10px;
  }

.container-left {
  width: 40%; 
}


.container-right {
  width: 60%; 
}


  img {
    height: 200px;
    width: 225px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    object-position: 25% 25%;
  }

  .vl {
    border-left: 2px solid gray;
    height: flex;
  }
 
  @media only screen and (max-width: 400px ){
    .App-body {
      width: 90%;
      height: 90%;
    }
  }

  @media only screen and (max-width: 800px ){
    .App-body {
      width: 100%;
      height: 90%;
    }
  }