.App {
  text-align: center;
}

/* .half-1 {
  height: 200px;
  width: 200px;
  background-color: antiquewhite;
  float: left
}

.half-2 {
  height: 200px;
  width: 200px;
  background-color: red;
  float: right
} */

.p1 {
  font-family: monospace;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-body {
  height: auto;
  width: auto;
  background-color: #c2e8ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;

}

.logo {
    height: 75px;
    width: 75px;
    display: flex;
    margin-right: auto;
    object-fit: cover;
    object-position: 25% 25%;
    margin-left: calc((100% - (2 * 40px)) / 2);
}

button {
  font-size: 2vh;
  margin: 0 10px;
  height: 10vh;
  width: 20vw;
  background-color: white;
  cursor: pointer;
  padding: 2px;
  
  }

.container {
    /* margin-left: 20px; */
    display: flex;
    margin-bottom: 10px;
  }

.container-left {
  width: 25%; 
  float: left;
}


.container-right {
  width: 70%; 
  /* float: right; */
}
  
.container li {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color: #ffffff;
    font-family: 'Lexend Deca', sans-serif;
    width: 300px;
    color: rgb(5, 5, 5);
    padding: 5px;
    border-radius: 80px;
    border-style: solid;  
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    /* margin-left: calc((100% - (4 * 500px)) / 2); */
  }
  

  img {
    height: 200px;
    width: 225px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    object-position: 25% 25%;
  }

  .vl {
    border-left: 2px solid gray;
    height: flex;
  }
 
  @media only screen and (max-width: 400px ){
    .App-body {
      width: 90%;
      height: 90%;
    }
  }

  @media only screen and (max-width: 800px ){
    .App-body {
      width: 100%;
      height: 90%;
    }
  }